<section data-ng-controller="CardsController">
    <div class="page-header">
        <h1>New Credit Card</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group" data-ng-controller="CardTypesController" data-ng-init="find()">
                    <label class="control-label" for="type">Type</label>
                    <select class="form-control" required
                        data-ng-model="card.cardType"
                        data-ng-options="cardType._id as cardType.name for cardType in cardTypes">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="number">Number</label>
                    <div class="controls">
                        <input type="text" data-ng-model="card.number" id="number" class="form-control" placeholder="Number" required>
                    </div>
                </div>
                <div class="form-group" data-ng-init="getMonths()">
                    <label class="control-label" for="expireMonth">Expire month</label>
                    <select class="form-control" required
                        data-ng-model="card.expireMonth"
                        data-ng-options="idx as month for (idx, month) in months">
                    </select>
                </div>
                <div class="form-group" data-ng-init="getYears()">
                    <label class="control-label" for="expireYear">Expire year</label>
                    <select class="form-control" required
                        data-ng-model="card.expireYear"
                        data-ng-options="year for year in years">
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cvv2">Cvv2</label>
                    <div class="controls">
                        <input type="text" data-ng-model="card.cvv2" id="cvv2" class="form-control" placeholder="Cvv2" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="firstName">First name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="card.firstName" id="firstName" class="form-control" placeholder="First name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">Last name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="card.lastName" id="lastName" class="form-control" placeholder="Last name" required>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value= "Create">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>