<section data-ng-controller="CardsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Credit Cards</h1>
    </div>
<<<<<<< HEAD

=======
    
>>>>>>> beforeDie
   <table class="table table-striped" data-ng-init="getMonths()" data-ng-show="!cards.$resolved || cards.length">
      <thead>
          <tr>
            <th>Type</th>
            <th>Number</th>
            <th>Expire month</th>
            <th>Expire year</th>
            <th>Cvv2</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Valid until</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="card in cards">
            <td>{{ card.cardType.name }}</td>
            <td>{{ card.number }}</td>
            <td>{{ months[card.expireMonth] }}</td>
            <td>{{ card.expireYear }}</td>
            <td>{{ card.cvv2 }}</td>
            <td>{{ card.firstName }}</td>
            <td>{{ card.lastName }}</td>
            <td>
                <span data-ng-bind="card.validUntil | date:'medium'"></span>
            </td>
            <td>
                <a class="btn btn-primary" style="margin: 0 0 0 0" 
                data-ng-click="modalService.open($parent, card)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-hide="!cards.$resolved || cards.length">
        No Credit cards yet, why don't you <a href="#!/cards/create">create one</a>?
    </div>

    <modal-directive text= "{{ text }}" ok= "ok()" cancel= "cancel()"></modal-directive>
</section>