<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
<<<<<<< HEAD
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
<<<<<<< HEAD
									<h1><span>Black</span>List</h1>
									<h2>Put your phone out of an black list </h2>
=======
									<h1><span>Black</span>List</h1>									<h2>Put your phone out of an black list </h2>
>>>>>>> beforeDie
									<p>To put your phone off the blacklist, you can use it normally as if nothing had happened</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="modules/core/img/home/blacklist1.jpg" class="girl img-responsive" alt="" height='70' width='250'/>
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>Not</span>Clean</h1>
									<h2>Clean your phone</h2>
<<<<<<< HEAD
									<p>Put your phone out of an black list </h2>
=======
>>>>>>> beforeDie
									<p>To put your phone off the blacklist, you can use it normally as if nothing had happened</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="modules/core/img/home/i5.jpg" class="girl img-responsive" alt="" />
									<img src="modules/core/img/home/pricing.png"  class="pricing" alt="" />
								</div>
							</div>
						</div>
=======
				<div class="companyinfo text-center col-sm-12"  >
					<div class="col-sm-4">
						<h2><span>Black List</span></h2>
						<img class="img-responsive center-block"
						src="modules/core/img/home/blacklist1.jpg" class="girl img-responsive"
						width='150'/>
						<h3>Put your phone out</h3>
						<h5>To put your phone off the blacklist, you can use it normally as if nothing had happened</h5>
						<a class="btn btn-default get" href="#!/requests/createRequestByHome/BlackList">
							Get it now
		                </a>
>>>>>>> 74c4abd6b14a3beb64bb23ffc47581342394e82d
					</div>
					<div class="col-sm-4">
						<h2><span>UnLock</span></h2>		
						<img class="img-responsive center-block" 
						src="modules/core/img/home/unlock10.jpeg" class="girl img-responsive"
						width='142'/>					
						<h3>How to unlock my phone</h3>
						<h5>Telephone companies normally locking devices that have on sale for only usable from that operator</h5>
						<a class="btn btn-default get" href="#!/requests/createRequestByHome/UnLock">
							Get it now
		                </a>
					</div>
					<div class="col-sm-4">
						<h2><span>ICloud</span></h2>				
						<img style="margin-top:30px; margin-bottom:35px;" 
						class="img-responsive center-block" 
						src="modules/core/img/home/unlock11.png" class="girl img-responsive"
						width='240'/>							
						<h3>Disable Find My iPhone</h3>
						<h5>Apple ID is stored in the Apple activation servers and linked to your device preventing re-activate them</h5>
						<a class="btn btn-default get" href="#!/requests/createRequestByHome/ICloud">
							Get it now
		                </a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/slider-->