<header id="header" data-ng-controller="HeaderController"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> unlockint64@gmail.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header_top-->
	
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="logo pull-left">						
						<div class="companyinfo col-sm-4 pull-left" style="margin-top:0">
							<h2><span>UNLOCK</span>INTERNATIONAL</h2>
							<p>Make your phone yours again</p>
						</div>
						<img class="pull-left" src="modules/core/img/home/banner5.jpg" height='70' width='200' alt="" />
						<img class="pull-right" src="modules/core/img/home/banner1.jpg" height='70' width='250' alt=""/>
<<<<<<< HEAD
					</div>
=======
 					</div>
>>>>>>> beforeDie
				</div>
				<div class="col-sm-4">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
							<li ui-route="/signup" ng-class="{active: $uiRoute}"><a href="/#!/signup"><i class="fa fa-user"></i> Sign up</a></li>
							<li class="divider-vertical"></li>
							<li ui-route="/signup" ng-class="{active: $uiRoute}"><a href="/#!/signin"><i class="fa fa-lock"></i> Sign in</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
							<li class="dropdown" dropdown>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
									<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/#!/settings/profile">Edit Profile</a>
									</li>
									<li>
										<a href="/#!/settings/accounts">Manage Social Accounts</a>
									</li>
									<li data-ng-show="authentication.user.provider === 'local'">
										<a href="/#!/settings/password">Change Password</a>
									</li>
									<li>
										<a href="/auth/signout">Signout</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div><!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">

							<li><a href="/#!/" class="navbar-brand active">Go Home</a></li>
							<li 
							data-ng-repeat="item in menu.items | orderBy: 'position'" 
							data-ng-if="item.shouldRender(authentication.user);" 
							ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" 
							class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
								<a href="{{item.uiRoute}}">
									<span data-ng-bind="item.title"></span>
								</a>
								<ul ng-switch-when="dropdown" role="menu" class="sub-menu">
									<li 
									data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" 
									ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
										<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
									</li>
								</ul>
								<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
							</li>
						</ul>
						<div data-ng-hide= "util.user.isAdmin()">
							<em class="text-muted">
					            <label style="color:red" data-ng-if="user.credit < 100">Your credit: {{ (user.credit || 0) | currency:"$" }}</label>
					            <label style="color:green" data-ng-if="user.credit >= 100">Your credit: {{ (user.credit || 0) | currency:"$" }}</label>
					        </em>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-bottom-->
</header><!--/header-->	