<footer id="footer"><!--Footer-->
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="companyinfo">
							<h2><span>UNLOCK</span>INTERNATIONAL</h2>
							<p>Make your phone yours again</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="modules/core/img/home/iframe1.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa">Dereck15</i>
									</div>
								</a>
								<p>It's great, I found what I was looking</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="modules/core/img/home/iframe2.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa">Cint1985</i>
									</div>
								</a>
								<p>It is much easier than others</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="modules/core/img/home/iframe3.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa">Sasha09</i>
									</div>
								</a>
								<p>just what I was looking at last!</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<img src="modules/core/img/home/iframe4.png" alt="" />
									</div>
									<div class="overlay-icon">
										<i class="fa">Laura</i>
									</div>
								</a>
								<p>Very good, it works great!</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="modules/core/img/home/map.png" alt="" />
							<p>unlockint64@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2015 Store Inc. All rights reserved.</p>
					<p class="pull-right">Created by Our Team</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
