<section>
	<div class="panel panel-default">
	    <div class="panel-heading">Terms and Conditions</div>
	    <div class="panel-body">
	    	It is legal to unlock phones in the US<br><br>

			Until recently, the issue of unlocking a phone to use with any company which supports this could only be done in two ways: legally or illegally.

			Fortunately, since August 2014, it is legal in the United States, Puerto Rico and the Virgin Islands unlock a phone using that as we advance in July, President Obama signed the bill for it, so, with this, It reduced to one way of doing this: legal.<br><br>

			This is the law 113-144, which is called "Unlocking Wireless Consumer Choice and Competition Act," which began as a petition signed by over 100,000 citizens on the website of the White House "We The People".<br><br>

			Unlock International has emerged as one of the leading websites in the mobile services market showing professionalism and commitment to the growing customer.
			By becoming Unlock International client you are entitled to use all services as well as receive advice online anytime of the day, be treated with respect and patience and if you violate this regulation may call one of our managers that They serve immediately and will give immediate response. By showing our disagreement with some of its credit services be refunded in full and will work to prevent this from happening in the future.		
	    </div>
	</div>
	<div class="form-group">
    	<a class="btn btn-primary" style="margin: 0 0 0 0" href="#!/signup">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
    </div>
</section>