<section data-ng-controller="CardTypesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Card types</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="cardType in cardTypes" data-ng-href="#!/card-types/{{cardType._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cardType.created | date:'medium'"></span>
				by
				<span data-ng-bind="cardType.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cardType.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!cardTypes.$resolved || cardTypes.length">
    	No Card types yet, why don't you <a href="/#!/card-types/create">create one</a>?
    </div>
</section>