<section data-ng-controller="AccountsController" data-ng-init="findUsers()">
    <div class="page-header">
        <h1>Users</h1>
    </div>

   <table class="table table-striped">
      <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Buys Number</th>
            <th>Credit</th>
            <th>Last Buy</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="user in users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td data-ng-init= "getRequestsByUser(user)">{{ user.countRequests }}</td>
            <td>{{ user.credit | currency: '$' }}</td>
            <td>{{ user.lastBuy | date:'medium' }}</td>
            <td>
                <a class="btn btn-primary" style="margin: 0 0 0 0" href="/#!/refunds/create/{{user._id}}">
                    <i class="glyphicon glyphicon-eur"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>
</section>