<section data-ng-controller="ConfirmController" data-ng-init="confirmEmail()">
	
   <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>

</section>