<section data-ng-controller="RequestsController" data-ng-init="findOffert()">
    <div class="page-header">
        <h1>Request</h1>
    </div>
    
   <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate>
            <fieldset>
                <div class='row'>
                    <div class='col-sm-3'>  
                        <div class="form-group">
                            <label>Type:</label>
                            <select class="form-control" data-ng-model="request.requestType" 
                            ng-options="requestType._id as requestType.name for requestType in requestTypes" data-ng-change="changeBrandOnICloud()">
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3' data-ng-controller= "CountriesController">  
                        <div class="form-group" data-ng-init= "find()">
                            <label>Country:</label>
                            <select class="form-control" data-ng-model="$parent.country" 
                            ng-options="country._id as country.name for country in countries" required>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3' data-ng-controller= "CompaniesController">  
                        <div class="form-group" data-ng-init= "find()">
                            <label>Company:</label>
                            <select class="form-control" data-ng-model="$parent.company" 
                            ng-options="company._id as company.name for company in companies" required>
                            </select>
                        </div>
                    </div> 
                    <div class='col-sm-3'>  
                        <div class="form-group" data-ng-init= "find()">
                            <label>Brand:</label>
                            <select class="form-control" data-ng-model="brand" ng-options="brand._id as brand.name for brand in brands"required data-ng-change="changeBrandOnICloud()">
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3' data-ng-controller= "ModelsController"> 
                        <div class="form-group" data-ng-init= "find()">
                            <label>Model:</label>
                            <select class="form-control" data-ng-model="request.model" ng-options="model._id as model.name for model in models | filter:{ brand: $parent.brand }" 
                            required>
                            </select>
                        </div>
                    </div>
                    <div class='col-sm-3'> 
                        <div class="form-group">
                            <label class="control-label" for="price">IMEI</label>
                            <div class="controls">
                                <input type="text" data-ng-model="request.imei" class="form-control" placeholder="IMEI" required>
                            </div>
                        </div>
                    </div>
                    <div class='col-sm-3'> 
                        <div class="form-group">
                            <label class="control-label" for="time">E-Mail</label>
                            <div class="controls">
                                <input type="text" data-ng-model="request.email" class="form-control" placeholder="E-Mail" required>
                            </div>
                        </div>
                    </div>                
                </fieldset>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
        </form>
    </div>
</section>