<section data-ng-controller="RequestsController" data-ng-init="findOne()">
	
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>
	<div class="panel panel-default">
	    <div class="panel-heading">Request information</div>
	    <div class="panel-body">
			<em class="text-muted">
				The code will be sent to <b> {{ request.email }} </b><br>
				Your mobile IMEI is <b> {{ request.imei }} </b> <br>
				You will have to wait between <b>1 and {{ offert.time }}</b> days<br>
				You payed the amount of <b> {{ offert.price | currency:"$"}} </b> <br>
			</em>
    	</div>
	</div>
	<div class="form-group">
    	<a class="btn btn-primary" style="margin: 0 0 0 0" href="#!/requests/create">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
    </div>
</section>