<section data-ng-controller="RequestsController" data-ng-init= "findOneForEdit()">
    <div class="page-header">
        <h1>Change Request Status</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label>Request Status:</label>
                    <select class="form-control" data-ng-model="request.requestStatus._id" 
                    ng-options="requestStatus._id as requestStatus.name for requestStatus in requestStatuses" required>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="code">Code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="request.code" id="code" class="form-control" placeholder="Code" required>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
            </div>
        </form>
    </div>
</section>