<section data-ng-controller="RequestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Requests</h1>
    </div>

   <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>
    <table class="table table-striped">
      <thead>
          <tr>
            <th data-ng-show="util.user.isAdmin()">Request Id</th>
            <th>Country</th>
            <th>Company</th>
            <th>Brand</th>
            <th>Model</th>
            <th>IMEI</th>
            <th data-ng-show="! util.user.isAdmin()">Price</th>
            <th>Request status</th>
            <th data-ng-hide="true">Payment status</th>
            <th>Code</th>
          </tr>
      </thead>
      <tbody>
          <tr data-ng-repeat="request in requests" ng-switch on="request.requestStatus.name">
            <td data-ng-show="util.user.isAdmin()">{{ request._id }}</td>
            <td>{{ request.offert.country.name }}</td>
            <td>{{ request.offert.company.name }}</td>
            <td>{{ request.offert.model.brand.name }}</td>
            <td>{{ request.offert.model.name }}</td>
            
            <td>{{ request.imei }}</td>
            <td data-ng-show="! util.user.isAdmin()">{{ request.offert.price | currency:"$" }}</td>

            <!-- begin tr requestStatus -->
            <td data-ng-show="util.user.isAdmin()" data-ng-switch-when= 'UserCreated' style="color:red;">{{ request.requestStatus.name }}</td>
            <td data-ng-show="util.user.isAdmin()" data-ng-switch-when= 'AdminSent' style="color:green;">{{ request.requestStatus.name }}</td>
            <td data-ng-show="util.user.isAdmin()" data-ng-switch-when= 'AdminReceived' style="color:red;">{{ request.requestStatus.name }}</td>
            <td data-ng-show="util.user.isAdmin()" data-ng-switch-when= 'UserSent' style="color:orange;">{{ request.requestStatus.name }}</td>
            <td data-ng-show="util.user.isAdmin()" data-ng-switch-when= 'UserReceived' style="color:green;">{{ request.requestStatus.name }}</td>
            <!-- end tr requestStatus -->

            <td data-ng-show="! util.user.isAdmin()" data-ng-if= "request.requestStatus.name != 'UserReceived'" style="color:red">Uncompleted</td>
            <td data-ng-show="! util.user.isAdmin()" data-ng-if= "request.requestStatus.name == 'UserReceived'" style="color:green">Completed</td>

            <td data-ng-hide="true">{{ request.paymentStatus.name }}</td>

            <td data-ng-if= "request.code != ''" style="color:green">{{ request.code }}</td>
            <td data-ng-if= "request.code == ''" style="color:red">StandBy</td>
            
            <td data-ng-show="util.user.isAdmin()">
                <a class="btn btn-primary" style="margin: 0 0 0 0" href="/#!/requests/{{request._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>

            <td data-ng-show="util.user.isAdmin()">
                <a ng-if="request.requestStatus.name == 'AdminReceived' || request.requestStatus.name == 'UserSent'" class="btn btn-primary" style="margin: 0 0 0 0" href="" ng-click= "sendEmail(request._id)">
                    <i class="glyphicon glyphicon-send"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-hide="authentication.user.roles.indexOf('admin') || !offerts.$resolved || offerts.length">
        No Offerts yet, why don't you <a href="/#!/offerts/0/edit">create one</a>?
    </div>  

    <modal-directive text= "{{ text }}" ok= "ok()" cancel = "cancel()"></modal-directive>
</section>