<section data-ng-controller="OffertsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{ textAction }} Offert</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="functionAction()" novalidate>
            <fieldset class="row">
                <div class="col-sm-2 form-group" 
                    data-ng-controller= "CountriesController" data-ng-init= "find()">
                    <label>Country:</label>
                    <select class="form-control" data-ng-model="$parent.offert.country" 
                    ng-options="country._id as country.name for country in countries" required>
                    </select>
                </div>
                <div class="col-sm-2 form-group"
                    data-ng-controller= "CompaniesController" data-ng-init= "find()">
                    <label>Company:</label>
                    <select class="form-control" data-ng-model="$parent.offert.company" 
                    ng-options="company._id as company.name for company in companies" required>
                    </select>
                </div>
                <div class="col-sm-2 form-group"
                    data-ng-controller= "BrandsController" data-ng-init= "find()">
                    <label>Brand:</label>
                    <select class="form-control" data-ng-model="$parent.brand" ng-options="brand._id as brand.name for brand in brands"required>
                    </select>
                </div>
                <div class="col-sm-2 form-group"
                    data-ng-controller= "ModelsController" data-ng-init= "find()">
                    <label>Model:</label>
                    <select class="form-control" data-ng-model="$parent.offert.model" ng-options="model._id as model.name for model in models | filter:{ brand: $parent.brand }" 
                    required>
                    </select>
                </div>
                <div class="col-sm-2 form-group">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="text" data-ng-model="offert.price" class="form-control" placeholder="Price" required money min="1">
                    </div>
                </div>
                <div class="col-sm-2 form-group">
                    <label class="control-label" for="time">Time</label>
                    <div class="controls">
                        <input type="number" data-ng-model="offert.time" class="form-control" placeholder="Time" required min="1">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ textAction }}</button>
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>