<section data-ng-controller="OffertsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Offerts</h1>
    </div>
    
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Country</th>
            <th>Company</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Time</th>
            <th data-ng-show="util.user.isAdmin()">Creation</th>
            <th data-ng-show="util.user.isAdmin()"></th>
            <th data-ng-show="util.user.isAdmin()"></th>
            <th data-ng-hide="util.user.isAdmin()"></th>
          </tr>
      </thead>
      <tbody>
          <tr data-ng-repeat="offert in offerts">
            <td>{{ offert.country.name }}</td>
            <td>{{ offert.company.name }}</td>
            <td>{{ offert.model.brand.name }}</td>
            <td>{{ offert.model.name }}</td>
            <td>{{ offert.price | currency:"$" }}</td>
            <td>1-{{ offert.time }} days</td>
            <td data-ng-show="util.user.isAdmin()">
                <span data-ng-bind="offert.created | date:'medium'"></span>
                by
                <span data-ng-bind="offert.user.displayName"></span>
            </td>
            <td data-ng-show="util.user.isAdmin()">
                <a class="btn btn-primary" style="margin: 0 0 0 0" href="/#!/offerts/{{offert._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td data-ng-show="util.user.isAdmin()">
                <a class="btn btn-primary" style="margin: 0 0 0 0" data-ng-click="modalService.open($parent, offert)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
            <td data-ng-hide="util.user.isAdmin()">
                <a class="btn btn-primary" style="margin: 0 0 0 0" data-ng-click="goToRequest(offert._id)">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-hide="util.user.isAdmin() || !offerts.$resolved || offerts.length">
        No Offerts yet, why don't you <a href="/#!/offerts/0/edit">create one</a>?
    </div>  

     <modal-directive text= "{{ text }}" ok= "ok()" cancel= "cancel()"></modal-directive>
</section>