<section data-ng-controller="PaymentsController">
    <div class="page-header">
        <h1>Buy credit</h1>
    </div>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>
    <div class="col-md-12">
        <form data-ng-submit="create()" novalidate data-ng-init= "payment.type = 'card'">
            <fieldset>
                <div class="btn-group form-group" data-toggle="buttons">
                    <!-- <label class="btn btn-primary" data-ng-click="payment.type='paypal'">
                        <input type="radio" name="inputWalls" checked>
                    Paypal account </label> -->
                    <label class="btn btn-primary" data-ng-click="payment.type='cards'">
                        <input type="radio" name="inputWalls">
                    My credit cards </label>
                    <label class="btn btn-primary active" data-ng-click="payment.type='card'">
                        <input type="radio" name="inputWalls">
                    Credit card</label>
                </div>
                <!-- pay with saved credit cards -->
                <div class="form-group" data-ng-show= "payment.type == 'cards'">
                    <div class="row">
                        <div class="col-sm-3 form-group" data-ng-controller= "CardsController">
                            <label class="control-label">My cards</label>
                            <select class="form-control" required  
                            data-ng-init= "find()"
                            data-ng-model= "payment.source"
                            data-ng-options= "card.creditCardId as card.number for card in cards">
                            </select>
                        </div>
                        <div class="col-sm-3 form-group" data-ng-init= "payment.amount = 100">
                            <label class="control-label" for="name">Amount</label>
                            <div class="controls">
                                <input type="number" data-ng-model="payment.amount" 
                                class="form-control" required
                                min="100">
                            </div>
                        </div>                    
                    </div>
                </div>
                <!-- pay with new credit card -->
                <div class="form-group" data-ng-show= "payment.type == 'card'">
                    <div class="row">
                        <div class="col-sm-3 form-group" data-ng-controller="CardTypesController" data-ng-init="find()">
                            <label class="control-label" for="type">Type</label>
                            <select class="form-control" required
                                data-ng-model="$parent.card.cardType"
                                data-ng-options="cardType._id as cardType.name for cardType in cardTypes">
                            </select>
                        </div>                        
                        <div class="col-sm-3 form-group"><!-- 4032038268046152  -->
                            <label class="control-label" for="number">Number</label>
                            <div class="controls">
                                <input type="text" data-ng-model="card.number" id="number" class="form-control" placeholder="Number" required>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group" data-ng-controller= "CardsController" data-ng-init="getMonths()">
                            <label class="control-label" for="expireMonth">Expire month</label>
                            <select class="form-control" required
                                data-ng-model="$parent.card.expireMonth">
                                <option ng-repeat="month in months" value="{{$index}}">{{month}}</option>
                            </select>
                        </div>   
                        <div class="col-sm-3 form-group" data-ng-controller= "CardsController" data-ng-init="getYears()">
                            <label class="control-label" for="expireYear">Expire year</label>
                            <select class="form-control" required
                                data-ng-model="$parent.card.expireYear"
                                data-ng-options="year for year in years">
                            </select>
                        </div>                        

                        <div class="col-sm-3 form-group">
                            <label class="control-label" for="cvv2">Cvv2</label>
                            <div class="controls">
                                <input type="text" data-ng-model="card.cvv2" id="cvv2" class="form-control" placeholder="Cvv2" required>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="control-label" for="firstName">First name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="card.firstName" id="firstName" class="form-control" placeholder="First name" required>
                            </div>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label class="control-label" for="lastName">Last name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="card.lastName" id="lastName" class="form-control" placeholder="Last name" required>
                            </div>
                        </div>
<<<<<<< HEAD
                    </div>
                    <div class="form-group" data-ng-init= "payment.amount = 0.1">
                        <label class="control-label" for="name">Amount</label>
                        <div class="controls">
                            <input type="number" data-ng-model="payment.amount" 
                            class="form-control" required
                            min="100">
=======
                        <div class="col-sm-3 form-group">
                            <label class="control-label">Amount</label>
                            <div class="controls">
                                <input type="text" class="form-control" required data-ng-model="payment.amount" money ><!-- min="100" -->
                            </div>
>>>>>>> 74c4abd6b14a3beb64bb23ffc47581342394e82d
                        </div>
                        <div class="col-sm-3 checkbox">
                          <label class="text-muted">
                          <input type="checkbox"
                            data-ng-model= "save"
                            data-ng-true-value="YES" data-ng-false-value="NO" 
                            >Save to My credit cards</label>
                        </div>    
                    </div>
                </div>
                <!-- pay with paypal -->
                <div data-ng-show= "payment.type == 'paypal'">
                    <div class="form-group" data-ng-init= "payment.amount = 100">
                        <label class="control-label" for="name">Amount</label>
                        <div class="controls">
                            <input type="number" data-ng-model="payment.amount" 
                            class="form-control" required
                            min="100">
                        </div>
                    </div>                    
                </div>
            </fieldset>
            <div data-ng-show= "payment.type != undefined">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
        </form>
    </div>
</section>