<section data-ng-controller="PaymentsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Payments</h1>
    </div>
    <table class="table table-striped" data-ng-show="payments.length">
      <thead>
          <tr>
            <th>Type</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Creation</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="payment in payments">
            <td>{{ payment.type }}</td>
            <td>{{ payment.source }}</td>
            <td>{{ payment.amount | currency:"$" }}</td>
            <td>
                <span data-ng-bind="payment.created | date:'medium'"></span>
            </td>
          </tr>
      </tbody>
    </table>
    
    <div class="alert alert-warning text-center" data-ng-hide="payments.length">
    	No Payments yet<span data-ng-show="!util.user.isAdmin()">, why don't you <a href="/#!/payments/create">create one</a>?</span>
    </div>
</section>