<section data-ng-controller="CountriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Countries</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="country in countries" data-ng-href="#!/countries/{{country._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Created on
				<span data-ng-bind="country.created | date:'medium'"></span>
				by
				<span data-ng-bind="country.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="country.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="authentication.user.roles.indexOf('admin') || !countries.$resolved || countries.length">
    	No Countries yet, why don't you <a href="/#!/countries/create">create one</a>?
    </div>
</section>