<section data-ng-controller="ModelsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{ textAction }} Model</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="functionAction()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="brand">Brand</label>
                    <select class="form-control" required 
                    data-ng-model="model.brand"
                    data-ng-options="brand._id as brand.name for brand in brands" id= "brand" 
                    >
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="model.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ textAction }}</button>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>