<section data-ng-controller="ModelsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Models</h1>
    </div>

    <table class="table table-striped">
      <thead>
          <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Creation</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="model in models">
            <td>{{ model.brand.name }}</td>
            <td>{{ model.name }}</td>
            <td>
                <span data-ng-bind="model.created | date:'medium'"></span>
                by
                <span data-ng-bind="model.user.displayName"></span>
            </td>
            <td>
                <a class="btn btn-primary" style="margin: 0 0 0 0" href="/#!/models/{{model._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-primary" style="margin: 0 0 0 0" 
                data-ng-click="modalService.open($parent, model)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>

    <div class="alert alert-warning text-center" data-ng-hide="authentication.user.roles.indexOf('admin') || !models.$resolved || models.length">
        No Models yet, why don't you <a href="/#!/models/0/edit">create one</a>?
    </div>  

    <modal-directive text= "{{ text }}" ok= "ok()" cancel= "cancel()"></modal-directive>
</section>