<section data-ng-controller="RequestTypesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Request type</h1>
    </div>
    <div class="col-md-12">
        <form data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" data-ng-model="requestType.name" id="name" class="form-control" placeholder="Name" required readonly>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label" for="time">Time</label>
                        <div class="controls">
                            <input type="number" data-ng-model="requestType.time" id="time" class="form-control" placeholder="Time" required min= "1">
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label class="control-label" for="price">Price</label>
                        <div class="controls">
                            <input type="text" data-ng-model="requestType.price" id="price" class="form-control" placeholder="Price" required money>
                        </div>
                    </div>
                </div>            
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>