<section data-ng-controller="RequestTypesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Request Type</h1>
    </div>

   <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="util.alert.close(alerts, $index)">{{alert.msg}}</alert>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Price</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
          <tr data-ng-repeat="requestType in requestTypes">
            <td>{{ requestType.name }}</td>
            <td>{{ requestType.time }}</td>
            <td>{{ requestType.price | currency:"$" }}</td>
            <td data-ng-show="util.user.isAdmin()">
                <a class="btn btn-primary" style="margin: 0 0 0 0" href="/#!/request-types/{{requestType._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
          </tr>
      </tbody>
    </table>
</section>