<section data-ng-controller="RequestypesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="requestType.name"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/request-types/{{requestType._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="cardType.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="cardType.user.displayName"></span>
		</em>
	</small>
</section>
