<section data-ng-controller="BrandsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Brands</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="brand in brands" data-ng-href="#!/brands/{{brand._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="brand.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="authentication.user.roles.indexOf('admin') || !brands.$resolved || brands.length">
    	No Brands yet, why don't you <a href="/#!/brands/create">create one</a>?
    </div>
</section>