<section data-ng-controller="RefundsController" data-ng-init="findUser()">
    <div class="page-header">
        <h1>Refund</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label">User name</label>
                    <div class="controls">
                        <input type="text" class="form-control" readonly="true" value="{{ user.username }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" class="form-control" readonly="true" value="{{ user.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Credit</label>
                    <div class="controls">
                        <input type="text" class="form-control" readonly="true" value="{{ user.credit | currency }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <div class="controls">
                        <input type="text" class="form-control" required data-ng-model= "refund.amount" money>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>