<section data-ng-controller="RefundsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Refunds</h1>
    </div>
   <table class="table table-striped">
      <thead>
          <tr>
            <th>Refund Id</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Creation</th>
          </tr>
      </thead>
      <tbody>
          <tr data-ng-repeat="refund in refunds">
            <td>{{ refund._id }}</td>
            <td>{{ refund.user.email }}</td>
            <td>{{ refund.amount | currency}}</td>
            <td>{{ refund.created | date:'medium' }}</td>
          </tr>
      </tbody>
    </table>
</section>